.service-comp-container {
  width: 90%;
  height: fit-content;
  // position: relative;
  // display: flex;
  margin: 50px auto;
  // gap: 30px;

  .service-parent {

    .service-child {
      border-radius: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      height: fit-content;

      .content-parent {
        padding: 30px;
        height: 100%;

        .service-child-logo {
          color: rgb(244, 92, 92);
          font-size: 40px;
          margin-bottom: 15px;
        }

        .btn-detail {
          color: rgb(244, 92, 92);
          text-align: right;
          cursor: pointer;

          span {
            margin-right: 10px;
          }
        }

        .btn-detail:hover {
          color: #1b4066;
        }
      }
    }
  }

  .service-catalog {
    // width: 300px;
    height: fit-content;
    padding: 0;

    .title {
      background-color: #e34e4eed;
      color: white;
      padding: 10px;
    }

    .content {
      align-items: center;
      border-bottom: 1px solid rgb(0, 0, 0);
      padding: 15px 0 30px 0;
      color: gray;
      cursor: pointer;

      i {
        margin-right: 10px;
      }
    }

    .content:hover {
      color: #e34e4eed;
    }
  }

}