.header-container {
    background-color: white;
    box-shadow      : 0 1px 4px 0 rgba(74, 74, 78, .12);
    height          : 65px;
    background      : white !important;
    position        : fixed !important;
    width           : 100%;

    .logo-component {
        height: 42px;

        a {
            img {
                width   : 137px;
                margin  : 5px 18px;
                position: absolute;
                left    : 0px;
                top     : 3px;
            }
        }
    }

    .bar-component {
        position        : fixed;
        top             : 23px;
        left            : 80px;
        cursor          : pointer;
        font-size       : larger;
        color           : white;
        background-color: #e03;
        border-radius   : 5px;
        transition      : left 0.5s ease-in-out;

        &:hover {
            background-color: #b70709;
        }

        &.active-bar {
            left: 240px;
        }

        i {
            padding: 8px 15px;
        }
    }

    .left-component {
        height        : 100vh;
        width         : 230px;
        display       : flex;
        flex-direction: column;
        gap           : 15px;
        background    : #e5e5e5;
        position      : fixed;
        left          : 0px;
        transition    : left 0.5s ease-in-out;
        color         : black;

        &.active-nav {
            left: -183px;
        }



        .nav-component {
            margin        : 52px 9px auto 0px;
            display       : flex;
            flex-direction: column;
            grid-gap      : 20px;
            grid-gap      : 31px;
            gap           : 31px;

            a {
                padding        : 10px 0px 10px 50px;
                cursor         : pointer;
                text-decoration: none;
                color          : black;

                &.activeTag,
                &:hover {
                    background: #b70709;
                    color     : wheat;
                }

                i {
                    margin-right: 8px;
                    font-size   : x-large;
                    position    : fixed;
                    left        : 10px;
                }

            }
        }
    }

    .right-component {
        color      : black;
        display    : flex;
        gap        : 10px;
        width      : fit-content;
        align-items: center;
        font-size  : large;
        margin     : auto 20px;
        position   : fixed;
        right      : 0px;
        top        : 12px;

        .language-component {

            padding-left: 20px;
            border-left : 1px solid #c5bfbf;

            span {
                font-size    : initial;
                font-weight  : 700;
                cursor       : pointer;
                border-radius: 40px;
                padding      : 5px 7px;

                &:hover {
                    background-color: #e6e1e1;
                }
            }
        }

        .user-component {
            border-radius: 39px;
            padding      : 3px 11px;
            cursor       : pointer;

            &:hover {
                border-radius   : 39px;
                background-color: #e6e1e1;
            }

            i {
                margin-right: 6px;
            }

            span {
                font-size: initial;
            }
        }

        .notification-component {
            i {
                padding      : 8px 10px;
                border       : 1px solid white;
                border-radius: 30px;
                cursor       : pointer;

                &:hover {
                    background-color: #e6e1e1;
                }
            }
        }
    }
}