.logo-container{
    height: 65px;
    width: 100%;
    background: rgb(2, 11, 64);
    box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.1), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000 !important;
    .logo-icon{
        height: 100%;
        width: 20%;
        padding: 7px;
        .logo{
            height: 100%;
            min-width: 126px;
            background-image: url(../../assets/images/logo/logo.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 20px;
        }
    }
}