.login-wrapper{
    height: 100%;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
}
.login-container{
    height: 200vh;
    margin: 0px auto;
    width: 400px;
    .form_login{
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        height: 75vh;
        position: relative;
        top: 40px;
        .text-login{
            font-weight: 600;
            font-size: x-large;
            text-align: center;
        }
        .btn-login{
            width: 85%;
            height: 35px;
            background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
            font-size: large;
            color: white;
            font-weight: 500;
            border-radius: 20px;
            border: 0px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .forgot-password{
            font-size: 12px;
        }
        .icon-social{
            font-size: 35px;
            display: flex;
            gap: 20px;
            justify-content: center;
            .google{
                background-color: red;
                border-radius: 30px;
                height: 50px;
                width: 50px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .facebook{
                background-color: blue;
                border-radius: 30px;
                height: 50px;
                width: 50px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .login-with{
            height: 200px;
            margin: 50px auto;
            .login-with-text{
                display: flex;
                justify-content: center;
                margin: 20px auto;
                font-size: 16px;
            }
        }
        .input-password{
            display: flex;
            .show-eye, .hidden-eye{
                font-size: 20px;
                padding: 8px;
            }
        }
        .errMess{
            color:red;
        }
    }
    
}