.register-container{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    .form-register-container{
        height: 700px;
        width: 100%;
        .text-black{
            border-radius: 25px;
            margin-top: 25px;
            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
            .btn-register{
                button{
                    width: 110px;
                    height: 40px;
                    background-color: rgb(2, 11, 64);
                }
            }
        }
    }
}