.home {
    height: 100vh;
    width: 100%;

    .banner {
        width: 100%;
        height: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(61, 57, 57, 0.25));
        margin-top: 45px;

        .carousel {
            height: 100%;

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .carousel-caption {
                    height: 90%;
                    color: #242121;

                    .content-caption {
                        margin-top: 74px;
                        font-size: 30px;
                        text-transform: uppercase;

                        p {
                            margin-top: 10px;
                        }
                    }

                    h2 {
                        text-shadow: 2px 3px 15px #c19898;
                        font-size: 43px;
                    }

                    .path-caption {
                        margin-top: 8%;

                        a {
                            text-decoration: none;
                            color: #242121;
                            font-size: 34px;

                            i {
                                margin-left: 10px;
                                font-size: 28px;
                            }
                        }
                    }
                }
            }

            .carousel-control-prev,
            .carousel-control-next {

                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                    width: 50px;
                    height: 50px;
                }

            }
        }

    }

    .overview {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        .heading{
            display: flex;
            gap: 10px;
            width: 90%;
            height: 11vh;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: #8f8989;
            font-weight: 500;
            margin: 0 auto;

            div {
                width: 100%;
                padding: 5px 20px;
                border-radius: 5px;
                background-color: #eeeeee;
                cursor: pointer;

                i {
                    margin-right: 12px;
                }

                &.active {
                    background-color: #e34e4e !important;
                    color: white;
                }
            }
        }

        .show-component {
            width: 100%;
            height: 81%;
        }

    }

    .footer {
        width: 100%;
        height: 20vh;
        border: 1px solid #e34e4e;
    }
}