@import "../../styles/variables";

.header-not-logged-in-container {
    height: 65px;
    display: flex;
    gap: 10px;
    width: 100%;
    background: #22272e;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-between;

    .logo-header-not-logged-in-container {
        width: 15%;
        padding: 3px 0px;

        a {
            img {
                width: 105px;
                margin: 5px 18px;
                position: absolute;
                left: 0px;
                top: 3px;
            }
        }
    }

    .nav-container {
        width: 50%;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 925px) {
            // display: none;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -255px;
            width: 250px;
            top: 65px;
            height: 100vh;
            background: #22272e;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 85px 45px;
            gap: 30px;
            transition: right 0.5s ease-in-out;

            &.active-nav {
                right: 0px;
            }
        }

        div {
            a {
                font-size: 15px;
                text-decoration: none;
                color: white;
            }
        }
    }

    .other-container {
        width: 34%;
        display: flex;
        gap: 5px;
        margin-right: 15px;

        @media (max-width: 925px) {
            width: 68%;
            justify-content: end;
        }

        .lang-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                font-size: 12px;
                border-radius: 20px;
                background: white;
                padding: 3px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .logo-lang {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }

        .acc-container {
            position: relative;
            height: 100%;
            top: 18px;

            &:hover {
                .div-acc-info {
                    display: block;
                }
            }

            .acc-btn {
                font-size: 15px;

                .acc-btn-a {
                    background: #020b40;
                    text-decoration: none;
                    color: white;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3px 20px;

                    &:hover {
                        background: #363b58;
                    }

                    i {
                        margin-right: 5px;
                        font-size: 20px;
                    }
                }
            }

            .div-acc-info {
                display: none;
                position: static;
                width: 10px;
                height: 15px;
                padding-right: 48px;
                padding: 15px 27px 82px 41px;
            }

            .acc-info {
                background-color: white;
                position: absolute;
                top: 76%;
                z-index: 100;
                left: -145%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                border: 1px solid #dfcccc;
                padding: 10px;
                border-radius: 15px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                min-width: 294px;
                min-height: 234px;
                text-align: center;

                @media (max-width: 925px) {
                    left: -247%;
                }

                .welcome {
                    font-size: 16px;
                    color: $color-main-red;
                    font-weight: 600;
                    margin: auto;
                }

                .login-info {
                    border-radius: 15px;
                    padding: 3px;
                    border: 2px solid $color-main-red;
                    color: $color-main-red;
                    width: 100%;
                }

                .signup-info {
                    border-radius: 15px;
                    padding: 3px;
                    color: white;
                    background-color: $color-main-red;
                    border: 2px solid $color-main-red;
                    width: 100%;
                }

                .policy {
                    padding-top: 11px;
                    color: #8b8282;
                    font-weight: 600;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        .search-container {
            margin: auto 0px;

            @media (max-width: 925px) {
                position: absolute;
                right: -255px;
                top: 84px;
                width: fit-content !important;
                transition: right 0.5s ease-in-out;

                &.active-search {
                    right: 0px;
                }
            }

            input {
                border-radius: 10px;
                width: 78%;
                outline: none;
                border: none;
                height: 25px;
            }

            i {
                color: white;
                margin-left: 13px;
                font-size: 19px;
                cursor: pointer;
            }
        }

        .bar-container {
            display: none;
            font-size: 19px;
            color: white;
            margin: auto 0px;
            text-align: center;

            @media (max-width: 925px) {
                display: block;
                width: 15%;
            }

            i {
                cursor: pointer;
            }
        }
    }
}