.footer-container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #22272e;
    color: white;
    padding-top: 40px;
    margin-top: 40px;
    @media (max-width:1150px) {
        margin-top: 170px;
        
    }
    .footer-info{
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .component_1{
            flex: 32%;

            p{
                text-align: justify;
                margin: 0px 10px 15px 42px;

                i{
                    margin-right: 10px;
                    color: #eb2525;
                    font-size: larger;
                }
            }

            .contact{
                .phone{
                   span{
                    font-size: xx-large;
                   }
                }    
            }
            .connect{
                .social-icon{
                    img{
                        margin: auto 10px;
                        height: 35px;
                        width: 35px;
                    }
                }
            }
            @media (max-width:1150px) {
                    margin-bottom: 35px;
            }
        }

        .component_2{
            flex: 10%;

            .about-us-link{
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-left: 28%;
                
                a{
                    color: white !important; 
                    text-decoration: none;
                    padding-bottom: 5px;
                }
            }
        }

        .component_3{
            flex: 20%;

            .support-customer{
                display: flex;
                flex-direction: column;
                text-align: justify;
                margin-left: 32%;

                a{
                    color: white !important;
                    text-decoration: none;
                    padding-bottom: 5px;
                }
            }
        }

        .component_4{
            flex: 25%;

            .cooperate{
                text-align: justify;
                margin-left: 26%;
                font-size: 17px;

                i{
                    margin-right: 10px;
                    color: red;
                    margin-bottom: 7px;
                }
            }

            .register-link{
                margin-top: 35px;
                a{
                    color: white;
                    text-decoration: none;
                    padding: 7px 16px;
                    border-radius: 10px;
                    background-color: red;
                    font-size: large;
                }
            }
        }
        @media (max-width:1150px) {
            .component_2, .component_3, .component_4{
                flex: 30%;
            }
            .component_1{
                flex: 100%;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
    
    .copyright{
        text-align: center;
        font-size: large;
        background: #22272e;
        margin-bottom: 10px;
    }
}