.order {
    .order-component {
        margin: 95px 20px auto 90px;
        height: 100vh;
        transition: margin-left 0.5s ease-in-out;

        &.active-show-nav {
            margin-left: 248px;
        }

        .status-order-component {
            width: 100%;
            height: fit-content;
            border: 1px solid #d3d1d1;
            padding: 20px;
            border-radius: 5px;
            width: 1245px;
            margin-bottom: 20px;

            .status-order {
                display: flex;
                justify-content: space-around;
                border-bottom: 2px solid #d3d1d1;
                font-weight: 500;
                width: 1210px;

                div {
                    &.action {
                        border-bottom: 2px solid #ee0033;
                    }

                    cursor: pointer;
                    height: 35px;
                    margin-bottom: -2px;
                    text-align: center;
                    padding-left: 9px;
                    padding-right: 9px;
                }
            }

            .search-filter-component {
                display: flex;
                gap: 20px;
                padding: 0px 20px !important;

                .search {
                    flex: 40%;
                    margin-top: 30px;

                    select {
                        outline: none;
                    }
                }

                .filter-by-service {
                    flex: 30%;
                    margin-top: 30px;

                }

                .filter-by-date {
                    flex: 30%;
                    margin-top: 10px;

                }
            }
        }

    }
}